/* Base Styles */
body {
	margin:0px;
	padding:0px;
}
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	font-weight: normal;
	text-decoration: none;
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	position: relative;
}
#cssmenu a {
	line-height: 1.3;
}
#cssmenu {
	width: 250px;
	margin-left:10%;
}
#cssmenu > ul > li {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#cssmenu > ul > li:hover {
	background: #00FFFF;
	background: -moz-linear-gradient(#f7f7f7 0%, #f7f7f7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #f7f7f7));
	background: -webkit-linear-gradient(#f7f7f7 0%, #f7f7f7 100%);
	background: linear-gradient(#f7f7f7 0%, #f7f7f7 100%);
}
#cssmenu > ul > li > a {
	font-size: 12px;
	display: block;
	background: url(menu_images/pattern.png) top left repeat;
	color: #ffffff;
	border-top: none;
	text-shadow: 0 -1px 1px #751d0c;
}
#cssmenu > ul > li > a > span {
	display: block;
	padding: 8px 5px;
	padding-left:50px;
	color:#00008B;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#cssmenu > ul > li > a:hover {
	text-decoration: none;
}
#cssmenu > ul > li.active {
	border-bottom: none;
}
#cssmenu > ul > li.has-sub > a span {
	background: url(../images/menu_images/icon_plus.png) 5% center no-repeat;
}
#cssmenu > ul > li.has-sub.active > a span {
	background: url(../images/menu_images/icon_minus.png) 5% center no-repeat;
}
#cssmenu ul ul {
	display: none;
	background: #fff;
}
#cssmenu ul ul li {
	border-bottom: 0px solid #d4d4d4;
	border-top: none;
	background: #fff;
	background: -moz-linear-gradient(#f7f7f7 0%, #ececec 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ececec));
	background: -webkit-linear-gradient(#f7f7f7 0%, #ececec 100%);
	background: linear-gradient(#f7f7f7 0%, #ececec 100%);
}
#cssmenu ul ul li :hover{
	background: #f7f7f7;
}
#cssmenu ul ul li:last-child {
	border-bottom: none;
}
#cssmenu ul ul a {
	padding: 2px 5px 2px 25px;
	display: block;
	color: #676767;
	font-size: 12px;
	font-weight: normal;
	margin-left:30px;
}
#cssmenu ul ul a.active {
	background : url(../images/menu_images/3.png) 2% center no-repeat;
}
#cssmenu ul ul a:before {
	position: absolute;
	left: 10px;
	color: #000000;
}
#cssmenu ul ul a:hover {
	color: #000000;
}