
html,body{margin:0px;padding:0px;}
input,textarea,select,div,td,th,a,ul,li,label
{
    font-family:Arial, Helvetica, sans-serif;
    font-size:10pt;
}

input,select
{
    height:30px;
    line-height:30px;
}
hr
{
    border:1px #3174AE solid;
}
input,select,textarea
{
    border-radius:3px;
    border:1px solid #F0F0F0;
    padding:0px 10px;
}
input[type=radio]{
  width   : 15px;
  height   : 15px;
}
input[type=checkbox]{
  width   : 15px;
  height   : 15px;
  
}



input[type=text], textarea,select {
    outline: none !important;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus,select:focus {
    outline: none !important;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}



.selecttag
{
position:absolute;
border-radius:3px 0px 0px 3px;margin-top:1px;
margin-left:1px;
border:none;
}

.selecttag:focus {
    outline: none !important;
    border:0px solid green;
    
}



.dberror
{
    font-weight:bold;color:red;font-size:12pt;
}















.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 30px;
}

.parameter
{
    width:200px;
    margin:12px;
}
.container
{
    padding-top:20px;
}

#btnsubmit
{
    width:100px;
    
    height:35px;
}


.form-column{
border:0px solid;line-height:40px;width:50%;float:left;
}

.form-lbl
{
    border:0px solid black;text-align:right;padding-right:10px;width:30%;float:left;
    font-weight:bold;
}

.form-fill
{
    width:65%;height:40px;
    
}


.lbl {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  cursor: pointer;
  border:0px solid red;
  border-radius:4px;
  height:30px;
  line-height:30px;
  width:300px;
  background:#FAFAFA;
}
.lbl input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  
}
.chxrd {
  position: absolute;
  top: 7px;
  left: 10px;
  height: 15px;
  width: 15px;
  background: #e6e6e6;
}
.rd .chxrd {
  border-radius: 50%;
}
.lbl:hover input ~ .chxrd,
.lbl input:focus ~ .chxrd {
  background: #ccc;
}
.lbl input:checked ~ .chxrd {
  background: #2aa1c0;
}
.lbl:hover input:not([disabled]):checked ~ .chxrd,
.lbl input:checked:focus ~ .chxrd {
  background: #0e647d;
}
.lbl input:disabled ~ .chxrd {
  background: #808080;
  opacity: 0.6;
  pointer-events: none;
}
.chxrd:after {
  content: '';
  position: absolute;
  display: none;
}
.lbl input:checked ~ .chxrd:after {
  display: block;
}
/*position check*/
.chx .chxrd:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.chx input:disabled ~ .chxrd:after {
  border-color: #ffffff;
}
/*position radio*/
.rd .chxrd:after {
  left: 4px;
  top: 4px;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background: #fff;
}
.rd input:disabled ~ .chxrd:after {
  border-color: #ffffff;
}