<table class="tbl100" border="0">
									<tr>
										<td colspan="2"><h4>INFORMASI PEKERJAAN</h4></td>
									</tr>
									<tr>
										<td style="width:180px;">Nama Dinas</td>
										<td style="width:250px;">
											<input class="require" msgalert="Nama Dinas" type="text" id="_dinasname" name="_dinasname" maxlength="50" style="width:100%;" value="<?echo $_dinasname;?>"/>
										</td>
									</tr>
									<tr>
										<td>Pekerjaan</td>
										<td>
											<input class="require" msgalert="Pekerjaan" type="text" id="_pekerjaan" name="_pekerjaan" maxlength="50" style="width:100%;" value="<?echo $_pekerjaan;?>"/>
										</td>
									</tr>
									<tr>
										<td>Pangkat</td>
										<td>
											<input class="require" msgalert="Pangkat" type="text" id="_pangkat" name="_pangkat" maxlength="50" style="width:100%;" value="<?echo $_pangkat;?>"/>
										</td>
									</tr>
									
									<tr>
										<td colspan="2">
											Alamat bekerja
											<input type="text" style="text-align:center; width:30px;" class="nonmandatory" readonly name="_tmptptkerja" id="_tmptptkerja" value="100" />
										</td>
									</tr>
									<tr>
										<td colspan="2">
											<textarea class="require" msgalert="Alamat bekerja" id="_tptkerja" name="_tptkerja" rows="3" cols="80" onKeyUp="limitTextArea(this.id,'_tmptptkerja','100')" ><?echo $_tptkerja;?></textarea>
										</td>
									</tr>
									<tr>
										<td>Lama Bekerja</td>
										<td>
											<input class="require" msgalert="Lama bekerja" type="text" id="_lamabekerja" name="_lamabekerja" maxlength="20" onKeyPress="return isNumberKey(event);" value="<?echo $_lamabekerja?>"/>
										</td>
									</tr>
									<tr>
										<td>No Telepon kantor</td>
										<td>
											<input class="require" msgalert="No. Telepon Kantor" type="text" id="_tlpkantor" name="_tlpkantor" maxlength="20" onKeyPress="return isNumberKey(event);" value="<?echo $_tlpkantor?>"/>
										</td>
									</tr>
									<tr>
										<td>Sisa masa kerja</td>
										<td>
											<input class="require" msgalert="Sisa masa kerja" type="text" id="_sisakerja" name="_sisakerja" onKeyPress="return isNumberKey(event);" maxlength="45" value="<?echo $_sisakerja;?>"/>
										</td>
									</tr>
									<tr>
										<td>Gaji di bank INI</td>
										<td>
											<select id="_flaggaji" name="_flaggaji">
                                                <?
                                                    $flagarray=array("1"=>"Ya","2"=>"Tidak");
                                                    foreach($flagarray as $key => $value) {
                                                        
                                                        $selected="";
                                                        if($_flaggaji==$key)
                                                        {
                                                            $selected='selected="selected"';
                                                        }
                                                        
                                                        ?>
                                                        <option value="<?=$key?>" <?=$selected?>><?=$value?></option>
                                                        <?
                                                        
                                                    }
                                                ?>
                                            </select>
										</td>
									</tr>
									<tr>
										<td>Gaji bersih</td>
										<td>
											<input class="require" msgalert="Gaji Bersih" type="text" id="_gajibersih" name="_gajibersih" onKeyUp="currency(this.id)" maxlength="45" value="<?echo $_gajibersih;?>"/>
										</td>
									</tr>
									<tr>
										<td>Tunjangan Daerah</td>
										<td>
											<select id="_flagtujangan" name="_flagtujangan">
                                                <?
                                                    $flagarray=array("1"=>"Ya","2"=>"Tidak");
                                                    foreach($flagarray as $key => $value) {
                                                        
                                                        $selected="";
                                                        if($_flagtujangan==$key)
                                                        {
                                                            $selected='selected="selected"';
                                                        }
                                                        
                                                        ?>
                                                        <option value="<?=$key?>" <?=$selected?>><?=$value?></option>
                                                        <?
                                                        
                                                    }
                                                ?>
                                            </select>
										</td>
									</tr>
									<tr>
										<td colspan="2"><h4>KARTU PEGAWAI</h4></td>
									</tr>
									<tr>
										<td>No SKC PNS</td>
										<td>
											<input class="require" msgalert="No SKC PNS" type="text" id="_skcpns" name="_skcpns" onKeyPress="return isNumberKey(event);" maxlength="45" value="<?echo $_skcpns;?>"/>
										</td>
									</tr>
									<tr>
										<td>No SKC Pegawai</td>
										<td>
											<input class="require" msgalert="No SKC Pegawai" type="text" id="_skcpegawai" name="_skcpegawai" onKeyPress="return isNumberKey(event);" maxlength="45" value="<?echo $_skcpegawai;?>"/>
										</td>
									</tr>
									<tr>
										<td>No SKC Pangkat Terakhir</td>
										<td>
											<input class="require" msgalert="No SKC Pangkat Terakhir" type="text" id="_skcpangaktterakhir" name="_skcpangaktterakhir" onKeyPress="return isNumberKey(event);" maxlength="45" value="<?echo $_skcpangaktterakhir;?>"/>
										</td>
									</tr>
									<tr>
										<td>No Taspen</td>
										<td>
											<input class="require" msgalert="No Taspen" type="text" id="_taspen" name="_taspen" maxlength="45" onKeyPress="return isNumberKey(event);" value="<?echo $_taspen;?>"/>
										</td>
									</tr>
									<tr>
										<td colspan="2">
											<div>
												<table class="tbl100">
													<tr>
														<td style="font-weight:bold;">Jenis Permohonan Kredit</td>
													</tr>
													<tr>
														<td>Jenis Pemohonan Kredit</td>
														<td style="width:250px;">
															<select id="custcreditstatus" name="custcreditstatus" style="width:100%;" disabled="disabled">
																<option value="">-- Pilih Jenis Pemohonan Kredit --</option>
																<?
																	$strsql = "select * from TblCreditStatus";
																	$sqlcon = sqlsrv_query($conn, $strsql);
																	if ( $sqlcon === false)die( FormatErrors( sqlsrv_errors() ) );
																	if(sqlsrv_has_rows($sqlcon))
																	{
																		while($rows = sqlsrv_fetch_array($sqlcon, SQLSRV_FETCH_ASSOC))
																		{
																			if($rows['status_code']==$custcreditstatus)
																			{
																				echo '<option value="'.$rows['status_code'].'" selected="selected">'.$rows['status_name'].'</option>';
																			}
																			else
																			{
																				echo '<option value="'.$rows['status_code'].'">'.$rows['status_name'].'</option>';
																			}
																		}
																	}
																?>
															</select>
														</td>
													</tr>
												</table>
												<div id="dtl_fasilitas" style="width:100%;">
													<?
														require("return_ajax.php");
													?>
												</div>
											</div>
										</td>
									</tr>
								</table>