html {
	margin:0;
	padding:0;
	overflow-y:scroll;
}
body {
	
	font-size:16px;
}

#container{
width:960px;
position:absolute;
top:0;
left:50%;
margin-left:-480px;
border:0px solid black;
padding-top:40px;
}



#tit_menu{
border:0px solid blue;
padding-bottom:0px;
border-bottom:1px solid black;
margin-bottom:10px;
}

#col{
border:0px solid green;
}

.menu a { 
color:orange; 
text-decoration:none; 
border:0px solid red; 
margin-top:500px; 
font-size:16px;
}
.menu a:hover { 
color:#123456; 
text-decoration:none;
}

#select{
	padding-left:240px;
	border:0px solid black;
	height:125px;
}
#do_select{
	border:0px solid black;
	height:125px;
}
#col_menu{
	width:150px;
	border:0px solid blue;
	float:left;
}

.row_menu{
	height:25px;
	border:0px solid red;
}

#col_select{
	width:400px;
	border:0px solid blue;
	float:left;
}

.row_select{
	height:25px;
	border:0px solid black;
}


#header
{
	height:20px;
	border:0px black solid;
	margin-bottom:20px;
}

.userid
{
	width:100px;
	border:0px solid black;
	float:left;
}
.progress_bar
{

	width:200px;
	border:0px solid black;
	float:left;
}
.persentase
{
	width:100px;
	border:0px solid black;
	float:left;
}
.keterangan
{
	width:445px;
	border:0px solid green;
	float:left;
}


.rows
{
	width:100%;
	height:150px;
	border:1px black solid;
}
.row
{
	width:100%;
	height:20px;
	border:0px red solid;
}

.proses{
	width:200px;
	border:1px solid black;
	float:left;
}
.jumlah
{
	width:150px;
	border:1px solid black;
	float:left;
}
.input
{
	width:150px;
	border:1px solid black;
	float:left;
}
.checker
{
	width:150px;
	border:1px solid black;
	float:left;
}

.approve{
	width:150px;
	border:1px solid black;
	float:left;
}