body {
	font-family: Tahoma,Arial,Verdana;
	font-size: 12px;
	color: black;
}

a:link {color: #84c4e2;}
a:visited {color:#84c4e2;}
a:hover {color: #cd82ad;}
a:active {color: #84c4e2;}


input[type=checkbox].css-checkbox {
display:none;
}

input[type=checkbox].css-checkbox + label.css-label {
padding-left:22px;
height:16px; 
display:inline-block;
line-height:16px;
background-repeat:no-repeat;
background-position: 0 0;
font-size:16px;
vertical-align:middle;
cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
background-position: 0 -16px;
}

label.css-label {
background-image:url(csscheckbox.png);
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}		